body{
	background-color: #E4E5E8;
	position: fixed;
	width:100%;
	height:100%;
	margin: 0;
}

#header{
	position: absolute;
	height: 10%;
	width: 100%;
	top: 0;
	background-color: #363940;
	color: #E4E5E8;
	font-size: 16px;
	
}

#displayName{
	position: absolute;
	left: 0;
	height: 100%;
	width: 50%;
	font-family: "Courier New", Courier, monospace;
	color:#E4E5E8;
   
}

#profileName{
	padding-left: 20px;
	text-align: left;
	
}


#tp{
	
	display: block;
    position:fixed;
    margin: 10% 0%;
	height: 10%;
	color: #363940;
	
}

