body{
    background-color: #363940;
    font-weight: 400;
}

#wholeContainer {
   background-color:#E4E5E8; 
   position: absolute;
   margin: auto;
   height: 100%;
   width: 50%;
   left: 25%;

}


#container {
    position: absolute;
    height: max-content;
    width: 100%;
   
}

#header {
    position: relative;
    color:  #363940;
    text-align : center;
    font-family: Arial, sans-serif;
    padding: 15px 12px 0px 0px;
}

form {
    position: absolute;
    height: max-content;
    width: 80%;
    left: 5%;
}




input[type=text], input[type=password], input[type=email], select{
    height: 30px;
    width: 100%;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 10px 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;

}

select {

    height: 35px;
}



label {

    color: #363940;
    width: 80px;
    display: inline-block;
    font-family: Arial, sans-serif;
    padding: 0px 0px 0px 20px;
    margin: 5px 0px 10px 0; 
    font-size: 16px;
}

p{
    color: #363940;
    font-size: 16px;

}

#terms{
    margin: 0px 0px 20px 0px;

}

#typeAccountRadio label{
    width: max-content;
}

ui {
    list-style-type: none;
    margin: 0px 0px 20px 0px;
    padding: 0;
}


li{
    display: inline-block;
    margin: 0px 10px 0px 0px;

}


input[type=checkbox]{
    margin : 0px 0px 60px 20px;
}

input[type=radio]{
    color: #363940;
    font-size: 16px;

}


.btn-submit{
   display: block; 
   position: absolute;
   right:   35%;
   bottom:   0;
   cursor: pointer;
    padding: 15px 32px;
    background-color: #363940;
    color: white;

}